.demo-layout-transparent {
  background: black ;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {

  color: black;
 }

 .mdl-layout-title{
 text-decoration: none;
 color: white;
 }